<form [formGroup]="form" class="grid grid-cols-[2fr_3fr] gap-x-4 gap-y-6">
  <p class="justify-self-end">{{ "full_name" | translate }}:</p>
  <app-control-error-wrapper [control]="getFormControlByName('fullname')">
    <input pInputText formControlName="fullname" class="w-17rem h-8" />
  </app-control-error-wrapper>
  <p class="justify-self-end">{{ "email" | translate }}:</p>
  <app-control-error-wrapper [control]="getFormControlByName('email')">
    <input pInputText formControlName="email" class="w-17rem h-8" />
  </app-control-error-wrapper>
  <p class="justify-self-end">{{ "phone_number" | translate }}:</p>
  <app-control-error-wrapper [control]="getFormControlByName('phoneNumber')">
    <input pInputText formControlName="phoneNumber" class="w-17rem h-8" />
  </app-control-error-wrapper>
</form>
<footer class="flex mt-4">
  <p-button
    [label]="'save' | translate"
    icon="pi pi-check"
    iconPos="right"
    (onClick)="onSave()"
    class="ml-auto"
  ></p-button>
</footer>
@if(isLoading$ | async){
<app-overlay-loader></app-overlay-loader>
}
