<div class="abms-control-error-wrapper relative">
  <ng-content></ng-content>
  @if(control && control.invalid && (control.touched || control.dirty)){
  <div class="abms-control-error-wrapper__errors-container">
    @if(control.hasError('required')){
    <small class="abms-control-error-wrapper__error text-xs">
      {{ "validation_errors.required" | translate }}</small
    >
    } @if(control.hasError('invalidEmail')){
    <small class="abms-control-error-wrapper__error text-xs">
      {{ "validation_errors.email" | translate }}
    </small>
    }@if (control.hasError('invalidPhoneNumber')){
    <small
      class="abms-control-error-wrapper__error text-xs flex gap-2 align-items-center"
    >
      <p>{{ "validation_errors.phone_number" | translate }}</p>
    </small>
    }@if (control.hasError('missingCountryCode')){
    <small
      class="abms-control-error-wrapper__error text-xs flex gap-2 align-items-center"
    >
      <p>{{ "validation_errors.missing_country_code" | translate }}</p>
    </small>
    } @if(control.hasError('min')){
    <small class="abms-control-error-wrapper__error text-xs">
      {{
        fillString(
          "validation_errors.min" | translate,
          control.getError("min").min
        )
      }}
    </small>
    } @if (control.hasError('max')){
    <small class="abms-control-error-wrapper__error text-xs">
      {{
        fillString(
          "validation_errors.max" | translate,
          control.getError("max").max
        )
      }}
    </small>
    }
  </div>
  }
</div>
