@import "./../../../../styles//variables.scss";

.abms-control-error-wrapper {
  &__errors-container {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
  }

  &__error {
    display: block;
    color: $red;
    margin-top: 0.25rem;
  }
}
