@import "./../../../../../styles/variables.scss";

.abms-accommodation-book {
  &__summary-price-container {
    justify-self: end;
    grid-column: 1 / span 2;
  }

  &__summary-price {
    color: $primary;
  }
}
