<div class="abms-accommodation-book">
  <p-stepper [linear]="true">
    <p-stepperPanel [header]="translation.instant('visit_details')">
      <ng-template
        pTemplate="content"
        let-nextCallback="nextCallback"
        let-index="index"
      >
        <div class="flex flex-col gap-4 pt-3 h-92">
          <form
            [formGroup]="form"
            class="grid grid-cols-[3fr_5fr] gap-y-8 gap-x-2 items-center"
          >
            <label class="justify-self-end">
              {{ "check_in_date" | translate }}
            </label>
            <app-control-error-wrapper
              [control]="getFormControlByName('checkInDate')"
            >
              <span class="w-fit relative">
                <p-calendar
                  dateFormat="dd.mm.yy"
                  formControlName="checkInDate"
                  [readonlyInput]="true"
                  [disabledDates]="unavailableCheckInDates"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [hideOnDateTimeSelect]="false"
                  (onSelect)="onCheckInDateSelect()"
                ></p-calendar>
                <i
                  class="pi pi-calendar-plus absolute top-1/2 -translate-y-1/2 right-[10px]"
                ></i>
              </span>
            </app-control-error-wrapper>
            <label class="justify-self-end">
              {{ "check_out_date" | translate }}
            </label>
            <app-control-error-wrapper
              [control]="getFormControlByName('checkOutDate')"
            >
              <span class="w-fit relative">
                <p-calendar
                  dateFormat="dd.mm.yy"
                  formControlName="checkOutDate"
                  [readonlyInput]="true"
                  [disabledDates]="unavailableCheckOutDates"
                  [minDate]="minCheckOutDate"
                  [maxDate]="maxCheckOutDate"
                  [hideOnDateTimeSelect]="false"
                ></p-calendar>
                <i
                  class="pi pi-calendar-minus absolute top-1/2 -translate-y-1/2 right-[10px]"
                ></i>
              </span>
            </app-control-error-wrapper>
            <label class="justify-self-end">
              {{ "guests_amount" | translate }}
            </label>
            <app-control-error-wrapper
              [control]="getFormControlByName('guests')"
            >
              <span class="w-fit relative">
                <p-inputNumber
                  inputId="integeronly"
                  formControlName="guests"
                  [showButtons]="true"
                  [min]="1"
                  [max]="maxGuests"
                ></p-inputNumber>
                <i
                  class="pi pi-users absolute top-1/2 -translate-y-1/2 right-[10px]"
                ></i>
              </span>
            </app-control-error-wrapper>
            <label class="justify-self-end">
              {{ "full_name" | translate }}
            </label>
            <app-control-error-wrapper [control]="getFormControlByName('name')">
              <span class="w-fit relative">
                <input formControlName="name" pInputText />
                <i
                  class="pi pi-address-book absolute top-1/2 -translate-y-1/2 right-[10px]"
                ></i>
              </span>
            </app-control-error-wrapper>
            <label class="justify-self-end">
              {{ "email" | translate }}
            </label>
            <app-control-error-wrapper
              [control]="getFormControlByName('email')"
            >
              <span class="w-fit relative">
                <input formControlName="email" pInputText />
                <i
                  class="pi pi-at absolute top-1/2 -translate-y-1/2 right-[10px]"
                ></i>
              </span>
            </app-control-error-wrapper>
            <label class="justify-self-end">
              {{ "phone_number" | translate }}
            </label>
            <app-control-error-wrapper
              [control]="getFormControlByName('phoneNumber')"
            >
              <span class="w-fit relative">
                <input formControlName="phoneNumber" type="tel" pInputText />
                <i
                  class="pi pi-phone absolute top-1/2 -translate-y-1/2 right-[10px]"
                ></i>
              </span>
            </app-control-error-wrapper>
          </form>
        </div>
        <div class="flex pt-4 justify-self-end">
          <p-button
            [label]="translation.instant('next')"
            icon="pi pi-arrow-right"
            iconPos="right"
            type="submit"
            (onClick)="onNext(nextCallback)"
          />
        </div>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel [header]="translation.instant('summary')">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-index="index"
      >
        <div class="grid grid-cols-[1fr_1fr] gap-4 pt-3 h-23rem">
          <p class="justify-self-end">{{ "residence" | translate }}:</p>
          <p>{{ accommodation.name }}</p>
          <p class="justify-self-end">{{ "address" | translate }}:</p>
          <p>
            {{ "street_shortcut" | translate }} {{ accommodation.street }}
            {{ accommodation.streetNumber }}, {{ accommodation.zipCode }}
            {{ accommodation.city }}
          </p>
          <p class="justify-self-end">{{ "check_in_date" | translate }}:</p>
          <p>{{ transformDate(form.get("checkInDate")?.value) }}</p>
          <p class="justify-self-end">{{ "check_out_date" | translate }}:</p>
          <p>{{ transformDate(form.get("checkOutDate")?.value) }}</p>
          <p class="justify-self-end">{{ "guests_amount" | translate }}:</p>
          <p>{{ form.get("guests")?.value }}</p>
          <p class="justify-self-end">{{ "full_name" | translate }}:</p>
          <p>{{ form.get("name")?.value }}</p>
          <p class="justify-self-end">{{ "email" | translate }}:</p>
          <p>{{ form.get("email")?.value }}</p>
          <p class="justify-self-end">{{ "phone_number" | translate }}:</p>
          <p>{{ form.get("phoneNumber")?.value }}</p>
          <div class="justify-self-end col-start-1 col-end-3">
            {{ "total_to_pay" | translate }}:
            <span class="text-[var(--primary)] text-2xl font-semibold">{{
              getTotalPrice()
            }}</span>
            zł
          </div>
        </div>
        <div class="flex pt-4 justify-between">
          <p-button
            [label]="translation.instant('change_data')"
            icon="pi pi-arrow-left"
            (onClick)="prevCallback.emit()"
          />
          <p-button
            [label]="translation.instant('confirm_with_payment_duty')"
            icon="pi pi-check"
            (onClick)="confirmBooking()"
          />
        </div>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>
@if(isLoading$ | async){
<app-overlay-loader></app-overlay-loader>
}
