<div class="abms-search-page">
  <app-accommodations-basic-filters
    (onFilter)="onBasicSearch($event)"
    [filtersToPatch]="basicFiltersToPatch"
    class="abms-search-page__basic-filters pt-3"
  ></app-accommodations-basic-filters>
  <app-accommodations-advanced-filters
    (onFilter)="onAdvancedSearch($event)"
    class="abms-search-page__advanced-filters"
  ></app-accommodations-advanced-filters>
  @if(accommodations$ | async; as accommodations){ @if(!accommodations.length){
  <div
    class="abms-search-page__no-results flex flex-column gap-3 align-items-center pt-5"
  >
    <p class="font-semibold text-xl">
      {{ "no_search_results" | translate }}
    </p>
    <p class="abms-search-page__change-filters">
      {{ "change_filters" | translate }}
    </p>
  </div>
  } @else {<app-accommodations-search-results
    [accommodations]="accommodations"
  ></app-accommodations-search-results
  >} } @else{
  <app-loader class="abms-search-page__loader pt-5"></app-loader>
  }
</div>
