<div class="abms-search-page grid grid-cols-[1fr_3fr] gap-4">
  <app-accommodations-basic-filters
    (onFilter)="search()"
    class="col-start-1 col-end-3 pt-3"
  ></app-accommodations-basic-filters>
  <app-accommodations-advanced-filters
    (onFilter)="search()"
  ></app-accommodations-advanced-filters>
  @if(accommodationsResponse$ | async; as data){
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between">
      <p-button
        styleClass="!h-8"
        icon="pi pi-map"
        iconPos="right"
        size="small"
        [outlined]="true"
        [label]="translation.instant('see_on_map')"
        [disabled]="!data.accommodations.length"
        (onClick)="onMapView()"
      ></p-button>
      <form [formGroup]="form">
        <p-dropdown
          optionLabel="label"
          formControlName="sortBy"
          [showClear]="true"
          [options]="sortOptions"
          [placeholder]="translation.instant('sort_by') + '...'"
          (onChange)="onSortChange()"
          styleClass="h-8"
        ></p-dropdown>
      </form>
    </div>
    @if(!data.accommodations.length){
    <div class="flex flex-col gap-4 items-center justify-self-center pt-5">
      <p class="font-semibold text-xl">
        {{ "no_search_results" | translate }}
      </p>
      <p>
        {{ "change_filters" | translate }}
      </p>
    </div>
    } @else {
    <app-accommodations-search-results [accommodations]="data.accommodations">
    </app-accommodations-search-results>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="offset"
      [rows]="recordNo"
      [totalRecords]="data.totalRecords"
      [rowsPerPageOptions]="[10, 25, 50]"
      styleClass="text-center"
    ></p-paginator>
    }
  </div>
  } @else{
  <app-accommodations-search-page-loader
    [skeletonsAmount]="recordNo"
  ></app-accommodations-search-page-loader>
  }
</div>
