<div class="grid gap-4">
  <p>
    {{ "info_message.introduction" | translate }}
  </p>
  <p>{{ "info_message.about" | translate }}</p>
  <p>{{ "info_message.important_functions" | translate }}:</p>
  <ul class="list-disc pl-8">
    <li>{{ "info_message.functions.browsing" | translate }}</li>
    <li>{{ "info_message.functions.authentication" | translate }}</li>
    <li>{{ "info_message.functions.reservation" | translate }}</li>
    <li>{{ "info_message.functions.languages" | translate }}</li>
    <li>{{ "info_message.functions.responsiveness" | translate }}</li>
    <li>{{ "info_message.functions.mail_dispatch" | translate }}</li>
    <li>{{ "info_message.functions.favorites" | translate }}</li>
  </ul>
  <p class="whitespace-pre-line">
    {{ "info_message.development" | translate }}
  </p>
</div>
