@import "./../../../../../styles/variables.scss";

.abms-advanced-filters {
  &__single-filter_title {
    font-size: $font-size-base;
  }

  &__price-inputs {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    place-items: center;
  }
}
