<div class="abms-booking-status-badge">
  @switch(status){ @case(BookingStatus.AwaitingPayment){
  <p-chip
    [label]="'awaiting_payment' | translate"
    icon="pi pi-wallet"
    styleClass="text-[var(--amber)] bg-[var(--amber-light)]"
  ></p-chip>
  } @case(BookingStatus.Confirmed){
  <p-chip
    [label]="'confirmed' | translate"
    icon="pi pi-check"
    styleClass="text-[var(--green)] bg-[var(--green-light)]"
  ></p-chip>
  } @case(BookingStatus.Cancelled){
  <p-chip
    [label]="'cancelled' | translate"
    icon="pi pi-times"
    styleClass="text-[var(--red)] bg-[var(--red-light)]"
  ></p-chip>
  } @case(BookingStatus.Completed){
  <p-chip
    [label]="'completed_feminine' | translate"
    icon="pi pi-history"
    styleClass="text-[var(--black)]"
  ></p-chip>
  } }
</div>
