@import "tailwindcss/preflight.css" layer(base);
@import "primeng/resources/themes/aura-light-noir/theme.css" layer(primeng);
@import "primeng/resources/primeng.min.css" layer(primeng);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "primeicons/primeicons.css";
@import "./p-overrides-imports";
@import "./../../node_modules/leaflet/dist/leaflet.css";
@import "./leaflet_override";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --primary: #020617;
  --rating-star: #ebdb00;
  --white: white;
  --white-alpha-50: rgba(255, 255, 255, 0.5);
  --red: red;
  --red-light: rgba(255, 0, 0, 0.1);
  --green: green;
  --green-light: rgba(0, 128, 0, 0.1);
  --yellow: yellow;
  --yellow-light: rgba(255, 255, 0, 0.1);
  --amber: #e7ad00;
  --amber-light: #fff5d7ad;
  --gray: #494949;
  --black: black;
  --border-color: #e2e8f0;
}

html {
  overflow-x: hidden;
}

body,
body .p-component {
  font-family: "Poppins", sans-serif;
}

app-accommodations-search-page,
app-user-dashboard-page,
app-accommodation-details-page {
  width: 60%;
  align-self: center;
  margin-bottom: 10rem;
}

app-accommodation-details-page {
  width: 53%;
}
