@import "./reset";
@import "primeicons/primeicons.css";
@import "./p-overrides-imports";
@import "./../../node_modules/leaflet/dist/leaflet.css";
@import "./leaflet_override";

@layer reset, primeng;

@layer reset {
  @include css-reset;
}

html {
  overflow-x: hidden;
}

body,
body .p-component {
  font-family: "Poppins", sans-serif;
}

app-accommodations-search-page,
app-user-dashboard-page,
app-accommodation-details-page {
  width: 60%;
  align-self: center;
  margin-bottom: 10rem;
}

app-accommodation-details-page {
  width: 53%;
}
