$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1536px;

$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 1.875rem; // 30px
$font-size-4xl: 2.25rem; // 36px
$font-size-5xl: 3rem; // 48px

$primary: #020617;
$rating-star: #ebdb00;

$white: white;
$red: red;
$red-light: rgba(red, 0.1);
$green: green;
$green-light: rgba(green, 0.1);
$yellow: yellow;
$yellow-light: rgba(yellow, 0.1);
$amber: #e7ad00;
$amber-light: #fff5d7ad;
$gray: #494949;
$black: black;
