$primary: #020617;
$rating-star: #ebdb00;

$white: white;
$red: red;
$red-light: rgba(red, 0.1);
$green: green;
$green-light: rgba(green, 0.1);
$yellow: yellow;
$yellow-light: rgba(yellow, 0.1);
$amber: #e7ad00;
$amber-light: #fff5d7ad;
$gray: #494949;
$black: black;
