<div class="abms-favorites flex flex-col gap-6">
  @if(accommodations$ | async; as accommodations){ @if(accommodations.length){
  @for(accommodation of accommodations; track accommodation){
  <p-panel>
    <ng-template pTemplate="header">
      <div class="flex items-center justify-between">
        <h2 class="text-lg font-semibold">{{ accommodation.name }}</h2>
        <app-heart-icon
          class="abms-favorites__favorite-icon abms-favorites__favorite-icon--checked"
          [pTooltip]="'remove_from_favorites' | translate"
          tooltipPosition="top"
          showDelay="150"
          [filled]="true"
          (click)="onRemove(accommodation.id)"
        ></app-heart-icon>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="abms-favorites__result-content gap-6">
        <img
          class="rounded-md w-full"
          src="https://static.leonardo-hotels.com/image/leonardohotelbucharestcitycenter_room_comfortdouble2_2022_4000x2600_7e18f254bc75491965d36cc312e8111f_1200x780_mobile_3.jpeg"
        />
        <div class="flex flex-col justify-between">
          <div class="flex flex-col gap-1">
            <p class="text-lg font-medium">
              {{ accommodation.city }}
            </p>
            <p class="abms-favorites__region text-xs">
              {{ accommodation.region }}
            </p>
          </div>
          <p>{{ accommodation.description }}</p>
          <div class="abms-favorites__price mt-0 font-semibold text-2xl">
            {{ accommodation.pricePerNight + "zł" }}
            <span class="text-base">{{ "per_night" | translate }}</span>
          </div>
        </div>
        <div class="flex flex-col justify-between">
          <div class="flex flex-col gap-1 items-center">
            @if(accommodation.rating){
            <p>{{ "average_rating" | translate }}</p>
            <div class="flex gap-2 items-center">
              <p>{{ accommodation.rating }} / 10</p>
              <i
                class="abms-favorites__rating-star text-xl bi bi-star-fill"
              ></i>
            </div>
            } @else {
            <p>{{ "no_reviews" | translate }}</p>
            }
          </div>
          <p-button
            class="abms-advanced-filters__search-button"
            [label]="'details' | translate"
            icon="pi pi-angle-right"
            iconPos="right"
            type="submit"
            size="small"
            (onClick)="onDetails(accommodation.id)"
          />
        </div>
      </div>
    </ng-template>
  </p-panel>
  } } @else {
  <div class="w-full flex flex-col justify-center items-center gap-2 mt-12">
    <p class="text-xl font-semibold">{{ "no_favorites" | translate }}</p>
    <p>
      {{ "add_accommodation_to_see_it_here" | translate }}
    </p>
  </div>
  } } @else {
  <div class="w-full flex justify-center mt-12">
    <app-loader></app-loader>
  </div>
  }
</div>
