<div
  [ngClass]="{ 'abms-header--collapsed': headerCollapsed }"
  class="abms-header flex justify-content-between align-items-center"
>
  <p
    class="font-semibold cursor-pointer select-none"
    [routerLink]="[ROUTES.HOME]"
  >
    BedFind
  </p>
  <div class="card flex justify-content-center gap-3">
    @if(!isLoggedIn()){
    <p-button
      icon="pi pi-sign-in"
      iconPos="right"
      [label]="'login' | translate"
      (onClick)="onLogin()"
    />
    } @else {
    <p-splitButton
      text
      [label]="'my_account' | translate"
      [model]="splitButtonConfig"
      (onClick)="onProfile()"
    />
    }
  </div>
</div>
