<div
  class="abms-header px-12 bg-[var(--primary)] text-[var(--white)] flex justify-between items-center transition-all duration-300 ease-in-out"
  [class.py-1]="headerCollapsed"
  [class.py-4]="!headerCollapsed"
>
  <p
    class="font-semibold cursor-pointer select-none"
    [routerLink]="[ROUTES.HOME]"
  >
    BedFind
  </p>
  <div
    [ngClass]="{ 'abms-header--collapsed': headerCollapsed }"
    class="hidden sm:flex gap-1 items-center"
  >
    <div
      [ngClass]="{ 'opacity-0 pointer-events-none': headerCollapsed }"
      [innerHTML]="flagPL"
      class="flex transition-opacity duration-500 h-4 cursor-pointer ease mr-2"
      (click)="switchLanguage('pl')"
    ></div>
    <div
      [ngClass]="{ 'opacity-0 pointer-events-none': headerCollapsed }"
      [innerHTML]="flagGB"
      class="flex transition-opacity duration-500 h-4 cursor-pointer mr-4"
      (click)="switchLanguage('en')"
    ></div>
    <p-button
      [label]="'search' | translate"
      [routerLink]="[ROUTES.ACCOMMODATIONS]"
      icon="pi pi-search"
      iconPos="right"
    ></p-button>
    <p-button
      [label]="'favorites' | translate"
      [routerLink]="[ROUTES.USER, ROUTES.FAVORITES]"
      icon="pi pi-heart"
      iconPos="right"
    ></p-button>
    @if(!isLoggedIn()){
    <p-button
      icon="pi pi-sign-in"
      iconPos="right"
      [label]="'login' | translate"
      (onClick)="onLogin()"
    />
    } @else {
    <p-splitButton
      text
      [label]="'my_account' | translate"
      [model]="splitButtonConfig"
      (onClick)="onProfile()"
    />
    }
  </div>

  <div class="flex gap-1 items-center sm:hidden">
    <p-button
      [routerLink]="[ROUTES.ACCOMMODATIONS]"
      icon="pi pi-search"
    ></p-button>
    @if(isLoggedIn()){
    <p-button
      [routerLink]="[ROUTES.USER, ROUTES.FAVORITES]"
      icon="pi pi-heart"
    ></p-button>
    <p-button
      [routerLink]="[ROUTES.USER, ROUTES.FAVORITES]"
      icon="pi pi-user"
    ></p-button>
    } @else {
    <p-button icon="pi pi-sign-in" (onClick)="onLogin()" />
    }
  </div>
</div>
