@import "./../../../../styles/variables.scss";

.abms-header {
  background-color: $primary;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
  padding: 16px 48px;
  color: $white;

  &--collapsed {
    padding: 6px 48px;
  }

  &__flag {
    display: flex;
    height: 0.9rem;
    cursor: pointer;
    transition: opacity 0.5s ease;

    &--invisible {
      opacity: 0;
    }
  }
}
