@if(accommodationProposals$ | async; as proposals){
<p-carousel
  class="abms-proposals-carousel"
  [value]="proposals"
  [numVisible]="3"
  [numScroll]="3"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="3500"
>
  <ng-template pTemplate="header">
    <p class="abms-proposals-carousel__header font-bold">
      {{ "proposed" | translate }}
    </p>
  </ng-template>
  <ng-template pTemplate="item" let-proposal>
    <div class="border-1 surface-border border-round m-2 p-3">
      <div class="mb-3">
        <div class="relative mx-auto">
          <img
            src="
              https://static.leonardo-hotels.com/image/leonardohotelbucharestcitycenter_room_comfortdouble2_2022_4000x2600_7e18f254bc75491965d36cc312e8111f_1200x780_mobile_3.jpeg
            "
            [alt]="proposal.name"
            class="abms-proposals-carousel__image w-full border-round"
          />
        </div>
      </div>
      <div class="mb-1 font-medium flex flex-column justify-content-between">
        <p>{{ proposal.name }}</p>
        <p class="abms-proposals-carousel__address font-normal text-xs">
          {{ proposal.street }}, {{ proposal.city }}
        </p>
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="mt-0 font-semibold text-xl">
          {{ proposal.pricePerNight + "zł" }}
          <span class="text-sm">{{ "per_night" | translate }}</span>
        </div>
        <span>
          <p-button
            icon="pi pi-angle-right"
            (onClick)="onProposal(proposal.id)"
          />
        </span>
      </div>
    </div>
  </ng-template>
</p-carousel>
} @else {
<div class="abms-proposals-carousel__loader-container">
  <app-loader></app-loader>
</div>
}
