<div class="flex flex-col gap-6">
  @if(bookings$ | async; as bookings){ @if(bookings.length){@for(booking of
  bookings; track booking){
  <p-panel>
    <ng-template pTemplate="header">
      <div class="flex w-full justify-between items-center">
        <p class="text-lg font-semibold">{{ booking.accommodationName }}</p>
        <app-booking-status-badge
          [status]="booking.bookingStatus"
        ></app-booking-status-badge>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-2">
        <div class="flex gap-2 items-center">
          <i class="pi pi-calendar-plus"></i>
          <p>{{ "check_in_date" | translate }}:</p>
          <p>{{ booking.startDate }}</p>
        </div>
        <div class="flex gap-2 items-center">
          <i class="pi pi-calendar-minus"></i>
          <p>{{ "check_out_date" | translate }}:</p>
          <p>{{ booking.endDate }}</p>
        </div>
        <div class="flex gap-2 items-center">
          <i class="pi pi-users"></i>
          <p>{{ "guests_amount" | translate }}:</p>
          <p>{{ booking.guests }}</p>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex w-full">
        <div class="flex gap-2 ml-auto">
          <p-button
            [label]="'view_accommodation' | translate"
            icon="pi pi-home"
            [outlined]="true"
            iconPos="right"
            (onClick)="onAccommodationDetails(booking.accommodationId)"
          ></p-button>
          @if(canCancelBooking(booking.bookingStatus)){
          <p-button
            [label]="'cancel_booking' | translate"
            icon="pi pi-times"
            iconPos="right"
            [outlined]="true"
            severity="danger"
            (onClick)="onCancel(booking.id!)"
          ></p-button>
          }
        </div>
      </div>
    </ng-template>
  </p-panel>
  }} @else {
  <div class="w-full flex flex-col justify-center items-center gap-2 mt-12">
    <p class="text-xl font-semibold">{{ "no_bookings" | translate }}</p>
    <p>
      {{ "add_booking_to_see_it_here" | translate }}
    </p>
  </div>
  } } @else {
  <div class="w-full flex justify-center mt-12">
    <app-loader></app-loader>
  </div>
  }
</div>
