.abms-accommodation-details {
  .p-galleria-thumbnail-item-content {
    .grid.grid-nogutter.justify-content-center {
      position: relative;
      width: 150px;
      height: 100px;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .p-galleria-content {
    height: 547px;
  }

  .p-galleria-thumbnail-container {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .p-galleria-thumbnail-item {
    overflow: hidden;
  }

  .p-galleria-thumbnail-items-container {
    height: 419px !important;
  }

  .p-galleria-item-wrapper {
    height: 547px;

    .p-galleria-item {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .p-divider.p-divider-horizontal {
    margin: 0.25rem 0;
  }
}
