@import "./../variables.scss";

.abms-advanced-filters {
  &__price-inputs {
    & .p-inputnumber-input {
      width: 83px;
      text-align: center;
    }
  }

  .p-inputtext {
    height: 30px;
  }

  .p-checkbox-label {
    font-size: 14px;
  }

  &__clear-button,
  &__search-button {
    .p-button {
      width: 108px;
      gap: 0;
    }

    .p-button-label {
      font-size: 13px;
    }
  }

  .p-element .p-dropdown {
    width: 100%;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background-color: $primary;
  }
}
