@import "./../variables.scss";

.abms-booking-status-badge {
  .abms-booking-status-badge {
    &--awaiting-payment {
      .p-chip {
        color: $amber;
        background-color: $amber-light;
      }
    }
    &--cancelled {
      .p-chip {
        color: $red;
        background-color: $red-light;
      }
    }
    &--confirmed {
      .p-chip {
        color: $green;
        background-color: $green-light;
      }
    }
  }
}
