@import "./../../styles/variables.scss";

.p-splitbutton-menubutton,
.p-splitbutton-defaultbutton {
  color: $white;
}

.p-splitbutton-defaultbutton {
  padding-right: 0;
}

.p-splitbutton-menubutton {
  padding-left: 0.25rem;
}
