@import "./../../styles/variables.scss";

.p-splitbutton-menubutton,
.p-splitbutton-defaultbutton {
  color: $white;
}

.p-splitbutton-defaultbutton {
  padding-right: 0;
}

.p-splitbutton-menubutton {
  padding-left: 0.25rem;
}

.abms-header {
  .p-button .p-button-label,
  .p-splitbutton .p-button-label {
    white-space: nowrap;
    max-width: 16rem;
    transition: max-width 1s ease, opacity 1s ease;
  }

  &--collapsed {
    .p-button .p-button-label,
    .p-splitbutton .p-button-label {
      max-width: 0;
      opacity: 0;
    }
  }
}
