.abms-home {
  & .p-calendar,
  & .p-inputnumber {
    .p-inputtext {
      width: 18rem;
    }
  }

  .p-inputnumber.p-inputnumber-buttons-stacked .p-inputnumber-button-group {
    right: 35px;

    & .p-inputnumber-button {
      gap: 0;
      border-radius: 0;
    }
  }

  &__search-button {
    .p-button {
      border-radius: 43px;
      width: 125px;
    }
  }

  .p-panel {
    .p-panel-content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      padding: 0 1.5rem 1.5rem 1.5rem;
    }
    .p-panel-header {
      padding: 1.5rem;
    }
  }
}

app-home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
