@import "./../variables.scss";

.abms-map-popup {
  .p-button-label {
    font-size: $font-size-xs;
  }
  .p-button .p-button-icon-right {
    margin-left: 0.1rem;
  }

  .p-button {
    width: 90px;
    padding: 4px 6px;
  }
}
