@import "./../../styles//variables.scss";

.p-dialog {
  gap: 15px;

  & .p-dialog-header {
    padding: 14px 14px 0 14px;
  }

  & .p-dialog-content {
    padding: 0 14px 14px 14px;
    overflow: hidden;
  }

  & .p-dialog-title {
    font-weight: 600;
    font-size: 1rem;
    color: $primary;
  }
}

.p-button {
  display: flex;
  gap: 8px;
  height: 33px;
  padding: 6px 14px;

  &:focus {
    box-shadow: none;
  }
}

.p-menuitem-link {
  padding: 0.5rem 0.75rem;
}

.p-tieredmenu,
.p-submenu-list {
  border: 1px solid #e2e8f0;
  padding: 0.25rem;
}
.p-tieredmenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  color: $primary;
}

.p-menuitem-text {
  margin-left: 0.5rem;
}

.p-menuitem-separator {
  border-top: 1px solid #e2e8f0;
  margin: 2px 0;
}

.p-progress-spinner-circle {
  stroke: $primary;
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite;
}

.p-button-icon-only:after {
  content: none;
}

.p-datepicker {
  &-calendar {
    font-size: 15px;
  }

  &-title {
    .p-datepicker-month,
    .p-datepicker-year {
      font-family: "Poppins", serif;
      font-size: 15px;
    }
  }
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: $rating-star;
}

.p-panel {
  & .p-panel {
    &-content,
    &-header {
      color: $primary;
    }
  }
}

.p-tooltip .p-tooltip-text {
  font-size: 14px;
  background-color: $primary;
  text-align: center;
}
