@import "./../../../../../styles/variables.scss";

.abms-accommodation-details {
  display: grid;

  &__loader-container {
    width: 100%;
    margin-top: 10rem;
  }

  &__gallery {
    justify-self: center;
  }

  &__image-container {
    width: 850px;
    height: 546px;
    overflow: hidden;
  }

  &__favorite-icon {
    cursor: pointer;

    &--checked {
      color: $red;
    }

    &:not(.abms-search-results__favorite-icon--checked):hover {
      color: $red;
    }
  }

  &__accommodation-info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__desription {
    text-wrap: balance;
  }

  &__rating-star {
    margin-bottom: 2px;
    color: $rating-star;
  }
}
