<div class="abms-accommodation-details grid gap-4 pt-4 mb-10">
  @if(accommodation$ | async; as accommodation){
  <p-card
    class="w-full justify-self-center md:w-9/10 lg:max-w-7xl"
    styleClass="max-md:shadow-none"
  >
    <p-galleria
      class="max-w-[50rem] justify-self-center"
      containerClass="w-full max-w-[50rem] justify-self-center"
      [value]="accommodation.images"
      [responsiveOptions]="responsiveOptions"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [circular]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="item"
          class="w-full max-h-133 object-cover rounded-md cursor-pointer"
          (click)="openGallery()"
        />
      </ng-template>
    </p-galleria>
    <p-galleria
      [(visible)]="isFullscreenGalleryVisible"
      [value]="accommodation.images"
      [showItemNavigators]="true"
      [showThumbnailNavigators]="false"
      [fullScreen]="true"
      [circular]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item" class="w-full h-auto object-contain" />
      </ng-template>
    </p-galleria>
    <div
      class="grid grid-cols-[repeat(4,1fr)] gap-y-8 justify-items-center items-center mt-4"
    >
      <h1 class="text-3xl font-semibold col-[1/span_2] justify-self-start">
        {{ accommodation.name }}
      </h1>
      <div class="col-[4] sm:col-[3]">
        <span class="mr-2">{{ rating }} / 10</span>
        <i
          class="mb-1 ml-1 text-xl text-[var(--rating-star)] bi bi-star-fill"
        ></i>
      </div>
      <div
        class="flex items-center gap-1 col-[1] sm:col-[2]"
        (click)="showTooltip(0)"
      >
        <span>{{ accommodation.maxGuests }}</span>
        <i
          [pTooltip]="translation.instant('max_guests')"
          tooltipPosition="top"
          showDelay="150"
          class="bi bi-people-fill text-xl"
        ></i>
      </div>
      <div
        class="flex items-center gap-2 col-[2/span_2] sm:col-[3]"
        (click)="showTooltip(1)"
      >
        <span>
          {{
            firstAvailableDate ? firstAvailableDate : ("no_dates" | translate)
          }}
        </span>
        <i
          class="bi bi-calendar-check text-xl"
          [pTooltip]="translation.instant('first_available_date')"
          tooltipPosition="top"
          showDelay="150"
        ></i>
      </div>
      <div
        class="flex items-center gap-2 col-[4] sm:row-[1] justify-self-end"
        (click)="showTooltip(2)"
      >
        <p class="hidden lg:block">
          {{
            accommodation.isFavorite
              ? ("remove_from_favorites" | translate)
              : ("add_to_favorites" | translate)
          }}
        </p>
        <app-heart-icon
          class="cursor-pointer hover:text-[var(--red)]"
          [pTooltip]="translation.instant('login_to_like')"
          tooltipPosition="top"
          showDelay="150"
          [tooltipDisabled]="isLoggedIn"
          [ngClass]="{
            'text-[var(--red)]':
            accommodation.isFavorite,
          }"
          tooltipPosition="top"
          showDelay="150"
          [filled]="accommodation.isFavorite"
          (click)="onFavorite(accommodation)"
        ></app-heart-icon>
      </div>

      <div
        class="mt-0 font-semibold col-[1/span_2] sm:col-[1] sm:row-[2] justify-self-start"
      >
        <span class="text-4xl">{{ accommodation.pricePerNight + "zł" }}</span>
        <span class="text-base"> {{ "per_night" | translate }}</span>
      </div>

      <div
        class="col-[3/span_2] sm:col-[4] justify-self-end"
        [pTooltip]="translation.instant('login_to_book')"
        tooltipPosition="top"
        [tooltipDisabled]="isLoggedIn"
      >
        <p-button
          icon="pi pi-arrow-right"
          iconPos="right"
          [disabled]="!isLoggedIn"
          size="small"
          [label]="translation.instant('book')"
          (onClick)="onBook(accommodation)"
        ></p-button>
      </div>
      <div class="flex flex-col gap-2 col-span-full w-full">
        <h2 class="font-semibold text-xl">{{ "description" | translate }}</h2>
        @if(accommodation.description){
        <p class="text-balance">
          {{ accommodation.description }}
        </p>
        } @else {
        <p>{{ "no_description" | translate }}</p>
        }
      </div>
      <div class="flex flex-col gap-2 col-span-full w-full">
        <h2 class="font-semibold text-xl">{{ "amenities" | translate }}</h2>
        <div>
          @if(!accommodation.amenities.length){
          <p>{{ "no_amenities" | translate }}</p>
          } @else { @for(amenity of accommodation.amenities; track amenity){
          <div class="p-1 inline-block">
            <p-chip styleClass="p-2">
              <div class="flex gap-1">
                <span>
                  <i class="bi" [class]="getAmenityIconClass(amenity)"></i>
                </span>
                <span>{{ amenity | translate }}</span>
              </div>
            </p-chip>
          </div>
          } }
        </div>
      </div>
      <div class="flex flex-col gap-2 col-span-full w-full">
        <h2 class="font-semibold text-xl">{{ "address" | translate }}</h2>
        <div class="flex flex-col sm:flex-row gap-4 justify-between">
          <p class="text-base">
            {{ "street_shortcut" | translate }} {{ accommodation.street }}
            {{ accommodation.streetNumber }}, {{ accommodation.zipCode }}
            {{ accommodation.city }}
          </p>
          <p-button
            class="self-center"
            icon="pi pi-map"
            iconPos="right"
            size="small"
            [outlined]="true"
            [label]="translation.instant('see_on_map')"
            (onClick)="onMapPreview(accommodation)"
          ></p-button>
        </div>
      </div>
      <div class="flex flex-col gap-2 col-span-full w-full">
        <div class="flex gap-2 items-center mb-3">
          <h2 class="font-semibold text-xl">
            {{ "reviews" | translate }}
          </h2>
          <i
            class="pi pi-info-circle"
            [pTooltip]="translation.instant('ten_latest_reviews')"
            tooltipPosition="top"
            showDelay="150"
          ></i>
        </div>
        @if(!accommodation.reviews.length){
        <p>{{ "no_reviews" | translate }}</p>
        } @else { @for( review of accommodation.reviews; track review; let i=
        $index) {
        <div class="flex items-center gap-8">
          <div>
            <span>{{ review.rating }} / 10</span>
            <i
              class="text-[var(--rating-star)] ml-1 text-xl bi bi-star-fill"
            ></i>
          </div>
          <p>{{ review.reviewText }}</p>
        </div>
        @if(accommodation.reviews[i+1]){
        <p-divider></p-divider>
        } } }
      </div>
    </div>
  </p-card>
  }@else {
  <div class="w-full flex justify-center mt-40">
    <app-loader></app-loader>
  </div>
  }
</div>
