@import "./../../../../../styles/variables.scss";

.abms-map-popup {
  display: grid;
  gap: 0.5rem;

  &__favorite-icon {
    cursor: pointer;

    &--checked {
      color: $red;
    }

    &:not(.abms-search-results__favorite-icon--checked):hover {
      color: $red;
    }
  }
  &__result-content {
    display: grid;
    grid-template-columns: 13fr 11fr auto;
  }
  &__price {
    font-size: $font-size-2xl;
  }
  &__region {
    color: $gray;
  }
  &__rating-star {
    margin-bottom: 2px;
    color: $rating-star;
  }
  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
