<div
  class="abms-home w-1/1 max-w-7xl flex flex-col gap-6 sm:gap-8 justify-center items-center justify-self-center mb-7"
>
  <h1 class="text-4xl sm:text-5xl font-bold pt-7 text-center">
    {{ "your_journey_starts_here" | translate }}
  </h1>
  <h2 class="text-2xl pt-2 text-center">
    {{ "start_desired_search" | translate }}
  </h2>
  <p-panel>
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-6 items-center mt-3">
        <form
          [formGroup]="form"
          class="flex flex-col lg:flex-row gap-8 items-center"
        >
          <span class="relative">
            <label class="absolute -top-[22px]" for="place">
              {{ "place" | translate }}
            </label>
            <input
              id="place"
              type="text"
              class="w-[18rem]"
              pInputText
              (input)="onInput()"
              (click)="onInput()"
              [placeholder]="currentPlaceholder"
              formControlName="query"
            />
            <i
              class="pi pi-globe absolute top-1/2 text-lg translate-x-0 -translate-y-1/2 right-[10px]"
            ></i>
          </span>
          <span class="relative">
            <label class="absolute -top-[22px]" for="dates">
              {{ "date" | translate }}
            </label>
            <p-calendar
              inputId="dates"
              formControlName="dates"
              inputStyleClass="w-[18rem]"
              selectionMode="range"
              dateFormat="dd.mm.yy"
              [readonlyInput]="true"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [placeholder]="translation.instant('choose_dates') + '...'"
            />
            <i
              class="pi pi-calendar absolute top-1/2 translate-x-0 -translate-y-1/2 right-[10px]"
            ></i>
          </span>
          <span class="relative">
            <label class="absolute -top-[22px]" for="people">{{
              "amount_of_people" | translate
            }}</label>
            <p-inputNumber
              inputId="people"
              inputId="integeronly"
              formControlName="guests"
              inputStyleClass="w-[18rem] rounded-r-[5px]"
              incrementButtonClass="right-[35px]"
              decrementButtonClass="right-[35px]"
              [showButtons]="true"
              [min]="1"
              [max]="20"
              [placeholder]="translation.instant('enter_people_amount') + '...'"
            />
            <i
              class="pi pi-users absolute top-1/2 translate-x-0 -translate-y-1/2 right-[10px]"
            ></i>
          </span>
        </form>
        <p-button
          [label]="translation.instant('search')"
          icon="pi pi-arrow-right"
          iconPos="right"
          type="submit"
          [raised]="true"
          (onClick)="onSearch()"
          styleClass="rounded-[43px] w-32"
        />
      </div>
    </ng-template>
  </p-panel>
  <app-proposals-carousel class="w-full"></app-proposals-carousel>
</div>
