@import "./../../../../../styles/variables.scss";

.abms-home {
  width: 100%;
  max-width: 1200px;

  & > h1,
  & > h2 {
    text-wrap: nowrap;
  }

  &__icon {
    transform: translate(0, -50%);
    right: 10px;
  }

  &__label {
    position: absolute;
    top: -22px;
  }
}

.p-inputtext {
  width: 18rem;
}

@media (max-width: $bp-sm) {
}
