.abms-home {
  width: 55%;

  & > h1,
  & > h2 {
    text-wrap: nowrap;
  }

  &__icon {
    transform: translate(0, -50%);
    right: 10px;
    font-size: 18px;
  }

  &__label {
    position: absolute;
    top: -22px;
  }
}

.p-inputtext {
  width: 18rem;
}
