<div class="abms-footer flex flex-column align-items-center h-9rem p-3">
  <div class="abms-footer__content text-xs">
    <div class="abms-footer__content--about-us flex flex-column gap-2">
      <h3 class="font-bold">{{ "about_us" | translate }}</h3>
      <p>{{ "about_us_description" | translate }}</p>
    </div>
    <div class="abms-footer__contact-container flex flex-column gap-2">
      <h3 class="font-bold">{{ "problem_or_questions" | translate }}</h3>
      <div class="abms-footer__contact">
        <p class="abms-footer__contact--left-side">
          {{ "email" | translate }}:
        </p>
        <a
          href="mailto: bedfind.stays&#64;gmail.com"
          class="abms-footer__contact--right-side"
        >
          bedfind.stays&#64;gmail.com
        </a>
        <p class="abms-footer__contact--left-side">
          {{ "hotline" | translate }}:
        </p>
        <p class="abms-footer__contact--right-side abms-footer__email">+48 123 456 789</p>
      </div>
    </div>
  </div>
  <p-divider class="w-full mt-auto"></p-divider>
  <p>&copy; BedFind 2024</p>
</div>
