<button class="msi-material-button">
  <div class="msi-material-button-state"></div>
  <div class="msi-material-button-content-wrapper">
    <div class="msi-material-button-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="21"
        viewBox="0 0 21 21"
      >
        <title>MS-SymbolLockup</title>
        <rect x="1" y="1" width="9" height="9" fill="#f25022" />
        <rect x="1" y="11" width="9" height="9" fill="#00a4ef" />
        <rect x="11" y="1" width="9" height="9" fill="#7fba00" />
        <rect x="11" y="11" width="9" height="9" fill="#ffb900" />
      </svg>
    </div>
    <span class="msi-material-button-contents">
      {{ "sign_in_with_microsoft" | translate }}
    </span>
    <span style="display: none">
      {{ "sign_in_with_microsoft" | translate }}
    </span>
  </div>
</button>
